[Unit]
Description=OpenSSH Key Generation
RequiresMountsFor=/var /run

[Service]
ExecStart=/bin/bash /usr/libexec/openssh/generate-keys
Type=oneshot
RemainAfterExit=yes
